#info-1 {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 50%;
  z-index: 100;
  display: block;
  color: rgb(250, 250, 250);
  font-size: 18px;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

#info-3 {
  position: absolute;
  top: 100px;
  left: 260px;
  width: 50%;
  z-index: 100;
  display: block;
  color: rgb(250, 250, 250);
  font-size: 18px;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

#info-2 {
  position: absolute;
  top: 200px;
  left: 800px;
  width: 50%;
  z-index: 100;
  display: block;
  color: white;
  font-size: 22px;
}

body{
  margin: 0px;
  overflow: hidden;
}


.btn-ghost {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 100;
  display: block;
  color: rgb(250, 250, 250);
  border: 1px solid rgb(250, 250, 250);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
    touch-action: none;
}

.btn-ghost-1 {
  position: absolute;
  top: 30px;
  left: 260px;
  z-index: 100;
  display: block;
  color: rgb(250, 250, 250);
  border: 1px solid rgb(250, 250, 250);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
    touch-action: none;
}

.btn-ghost:hover {
  opacity: 1;
    touch-action: none;
}

.btn-ghost-1:hover {
  opacity: 1;
    touch-action: none;
}

.drag-drop-item
{
  touch-action: none;
}

#x-obj{
  color: #D62B00;
  font-size: 24px;
  font-weight: 900;
}

#z-obj{
  color: #D62B00;
  font-size: 24px;
  font-weight: 900;
}

#line{
  color: #D62B00;
  font-size: 24px;
  font-weight: 900;
}

#color_line{
  color: #D62B00;
  font-size: 24px;
  font-weight: 900;
}

#red-color{
  color: #D62B00;

}

